html, body {
    width: 100vw;
    margin: 0;
    height: 100vh;
}

#hero, #climb-section {
    width: 100vw;
    height: 100vh;
}

#hero {
    border: 2px solid transparent
}

#history-section {
    background-image: url("./images/Bg.png");
    background-position:bottom;
    width: 100vw;
    height: 125vh;
    background-size: cover;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    margin-top: 10px;
    overflow: hidden;
}

#nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    gap: 25px;
}

#nav-menu li {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

#carousel img {
    width: 25%;
}

table {
    background-color:white;
    opacity: .8; 
    text-align: center; 
    padding-left:25px ;
    padding-right: 25px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

#circles {
    display: flex;
    gap:.5vw
}
.circle {
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: gray;
}

td, th {
    text-align: left;
}

li, p {
    font-family: Lato;
}

@media (max-width:500px) {
    nav {
        flex-direction: column;
    }
    #nav-menu {  
        font-size: small !important;
        margin-left: -60px;
    }

    #hero h1 {
        position: relative;
        top: 18%;
        width: 50%;
        height: 50vw;
        padding-top: 4vw;
    }
   #sticky-ul  {
        margin-left: -10%;
        font-size: 10px !important;   
    }

    #sticky-logo {
        display: none !important;
    }

    #history-section p {
        font-size: 2.5vh;
        font-weight: bold;
        padding: 10px;
        background-color: white;
        opacity: .6;
        position: relative;
        top: 15vh;
    }

    #history-header {
        position: relative;
        flex-direction: column;
        justify-content: center;
        margin-top: -50px;
    }

    #history-header h1 {
        font-size: 20vw !important;
    }

    #history-headerdiv {
        margin-top: -110px;
        text-decoration: underline;
    }
    
    #history-headerdiv div {
        display: none;
    }

    #carousel img:nth-child(3), #carousel img:nth-child(4){
        border: 2px solid red;
        display: none;
    }

    #carousel img {
        width: 70%;
    }

    #climbtop-div {
        flex-direction: column;
    }

    #climbtop-div p {
        font-size: 1.7vh!important;
        text-align: center;
        padding: 3vh;
    }

    #climb-headerdiv {
        flex-direction: column;
        margin-top: --2vh;
        margin-bottom: vh;
    }

    #climb-headerdiv h1 {
        font-size: 7vh !important;
        margin-bottom: -5vh;
    }
    
    #climb-subdiv h2{
        font-size: 2vh !important; 
    }
    #climb-subdiv div {
        display: none;
    }

    #mountain-tabs {
        justify-content: center !important;
    }

    #mountain-tabs button {
        width: 50vw !important;
    }
   
    #mountain-tabs button:nth-child(1) {
        margin-left: 0% !important;
    }

    #climb-bottomdiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        width: 70%;
        height: 30%;
    }

    table td {
        font-size: small;
        font-weight: bolder;
    }

   #footer-text {
        font-size: smaller !important;
        margin-bottom: 20px;
        margin-top: -10px;
    }

    .logo-toptext {
        font-size: 4.8vw !important;
    }

    .logo-bottomtext {
        font-size: 5vw !important;
    }

    footer {
        flex-direction: column;
        gap: 0% !important;
    }

    footer h1 {
        display: flex;
        gap: 2px;
    }

    footer img {
        display: none;
    }

    footer .logo-toptext {
        font-size: 5vw !important;
    }
}

@media (min-width: 500px) {
    table {
         width: 400px; 
         height: 40%;
         position: relative; 
         left: 15vw; 
         top: 10vh; 
    } 
 
    table td {
         font-size: larger;
    }
 
    #climb-section p {
     width: 50%;
     margin-left: 10%;
    }
 }

 